# First install nltk
nltk: Natural language ToolKit

In [ ]:
#!pip install -U nltk

In [3]:
import nltk
#nltk.download()   # To download data packages

In [20]:
# Reading the file as a text
rawData = open('SMSSpamCollection.tsv').read()
# split the file into a list
parsedData = rawData.replace('\t', '\n').split('\n')

# Split labels from textx
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [17]:
import pandas as pd

In [26]:
fullCorpus = pd.DataFrame({
    'label': labelList[:-1],
    'body_list': textList
})

fullCorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

# Explore the data set
Answer the following questions<br>
What is the shape of our data<br>
How many spam/ham are there?<br>
How much missing data is there

In [34]:
print('The number of rows is {}, the number of columns is {}'.format(len(fullCorpus), len(fullCorpus.columns)))
print('Out of {} rows, {} are ham, {} are spam'.format(len(fullCorpus),
                                                       len(fullCorpus[fullCorpus['label'] == 'ham']),
                                                       len(fullCorpus[fullCorpus['label'] == 'spam'])))
print('Number of nulls in label is {}'.format(fullCorpus['label'].isnull().sum()))
print('Number of nulls in label is {}'.format(fullCorpus['body_list'].isnull().sum()))

The number of rows is 5570, the number of columns is 2
Out of 5570 rows, 4824 are ham, 746 are spam
Number of nulls in label is 0
Number of nulls in label is 0

# NLP Basics: Implementing a pipeline to clean textÂ¶
## Pre-processing text data
Cleaning up the text data is necessary to highlight attributes that you're going to want your machine learning system to pick up on. Cleaning (or pre-processing) the data typically consists of a number of steps:
<ol>
<li>Remove punctuation</li>
<li>Tokenization</li>
<li>Remove stopwords</li>
<li>Lemmatize/Stem</li>
    </ol>
The first three steps are covered in this chapter as they're implemented in pretty much any text cleaning pipeline. Lemmatizing and stemming are covered in the next chapter as they're helpful but not critical.

In [45]:
pd.set_option('display.max_colwidth', 100)

data = pd.read_csv("SMSSpamCollection.tsv", sep='\t', header=None)
data.columns = ['label', 'body_text']

In [46]:
# Remove punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [50]:
def remove_punct(text):
    text_no_punct = ''.join([char for char in text if char not in string.punctuation])
    return text_no_punct

In [51]:
data['body_text_clean'] = data['body_text'].apply(lambda x: remove_punct(x))
data.head()

,label,body_text,body_text_clean
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL